/* || Global Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || Colours & Font Styles */

:root {
  --neutral-950: #000;
  --neutral-300: #d8d8d8;
  --neutral-0: #fff;
  --slate-700: #333a44;
  --slate-600: #495567;
  --slate-400: #939caa;
  --slate-100: #e5ecf4;
  --slate-50: #f2f5f9;
  --amber-400: #fcb72b;
  --amber-50: #fff4df;
  --navy-800: #2f3b59;

  --txt-1-fs: 56px;
  --txt-1-ls: -2.5008px;
  --txt-1-fw: 700;
  --txt-2-fs: 48px;
  --txt-2-ls: -2px;
  --txt-2-fw: 700;
  --txt-3-fs: 40px;
  --txt-3-ls: -1.7504px;
  --txt-3-fw: 700;
  --txt-4-fs: 32px;
  --txt-4-ls: -1.4px;
  --txt-4-fw: 700;
  --txt-5-fs: 24px;
  --txt-5-ls: -1px;
  --txt-5-fw: 700;
  --txt-5-lh: 115%;
  --txt-6-fs: 20px;
  --txt-6-ls: 0.6px;
  --txt-6-fw: 700;
  --txt-6-lh: 120%;
  --txt-7-fs: 18px;
  --txt-7-ls: 0.8px;
  --txt-7-fw: 700;
  --txt-7-lh: 135%;
  --txt-8-fs: 15px;
  --txt-8-fw: 700;
  --txt-8-lh: 165%;
  --txt-9-fs: 10px;
  --txt-9-ls: 0.4496px;
  --txt-9-lh: 150%;
  --txt-9-fw: 700;
  --txt-10-fs: 15px;
  --txt-10-fw: 400;
  --txt-10-lh: 165%;
}

/* || Fonts */

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/space-mono-v17-latin-regular.woff2') format('woff2');
  font-family: 'Space Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/space-mono-v17-latin-700.woff2') format('woff2');
  font-family: 'Space Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lexend-deca-v25-latin-regular.woff2') format('woff2');
  font-family: 'Lexend Deca';
  font-display: swap;
}

/* || Main Styles */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
}

.content-container {
  margin-inline: auto;
  width: min(100%, 1440px);
  overflow-x: hidden;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: var(--neutral-0);
  padding: 24px 32px;
  width: min(100%, 1440px);
  max-width: 1440px;
}

.menu-icon {
  transition: background-image 0.2s ease-in-out;
  cursor: pointer;
  margin-inline-end: 117.8496px;
  background-image: url(./assets/icons/hamburger.svg);
  width: 20px;
  height: 16px;
}

.menu-icon-close {
  background-image: url(./assets/icons/close.svg);
}

.logo-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  width: 75.5008px;
  height: 20px;
}

.header-nav {
  display: none;
  gap: 32px;
}

.header-btn {
  display: none;
  transition:
    background-color 0.2s,
    color 0.2s ease-in-out;
  cursor: pointer;
  border: 3.2px solid var(--amber-400);
  background-color: var(--amber-400);
  padding: 16px 40px;
  color: var(--neutral-0);
  font-weight: 700;
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.header-btn:hover {
  background-color: var(--neutral-0);
  color: var(--amber-400);
}

.header-link {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--slate-400);
  font-weight: var(--txt-8-fw);
  font-size: var(--txt-8-fs);
  line-height: var(--txt-8-lh);
  text-decoration: none;
}

.header-link:hover {
  color: var(--navy-800);
}

/* Mobile Menu */

.mobile-menu {
  display: flex;
  position: absolute;
  top: 68.8px;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  background-color: var(--slate-700);
  padding: 24px 32px;
  width: 256px;
  height: 599px;
  pointer-events: none;
}

.show {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block-start: 16px;
}

.mobile-nav-link {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--neutral-0);
  font-weight: var(--txt-8-fw);
  font-size: var(--txt-8-fs);
  line-height: var(--txt-8-lh);
  text-decoration: none;
}

.mobile-nav-link:hover {
  color: var(--amber-400);
}

.mobile-nav-button {
  display: block;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  border: 3.2px solid var(--amber-400);
  background-color: var(--amber-400);
  padding: 16px 0;
  width: 182px;
  color: var(--neutral-0);
  font-weight: 700;
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

.mobile-nav-button:hover {
  background-color: transparent;
  color: var(--amber-400);
}

/* About Header Section */

.about-left-up-arrow {
  position: absolute;
  top: 7.5rem;
  right: -22.3rem;
}

.about-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  margin: 4.5rem 0;
  background-image: url(./assets/images/about-hero-mobile.jpg);
  background-size: cover;
  height: 10rem;
}

h1 {
  color: var(--neutral-0);
  font-weight: var(--txt-3-fw);
  font-size: var(--txt-3-fs);
  letter-spacing: var(--txt-3-ls);
}

/* About Hero Section */

.about-hero-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  opacity: 0;
  transition: opacity 0.6s ease;
  margin-block-end: 4.5rem;
}

.about-article {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.article-image {
  border-radius: 50%;
  width: 311px;
  height: 311px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.article-header {
  width: 20ch;
  color: var(--neutral-950);
  font-weight: var(--txt-4-fw);
  font-size: var(--txt-4-fs);
  line-height: 100%;
  letter-spacing: var(--txt-4-ls);
  text-align: center;
}

.header-two {
  width: 16ch;
}

.article-text {
  padding: 0 1rem;
  width: 34ch;
  color: var(--slate-400);
  font-weight: var(--txt-10-fw);
  font-size: var(--txt-10-fs);
  line-height: var(--txt-10-lh);
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

.article-text-two {
  width: 35ch;
}

.about-right-down-arrow {
  position: absolute;
  top: -1rem;
  left: -4.8rem;
}

/* Values Section */

.values-section {
  gap: 4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
  margin-block-end: 6rem;
}

.values-section,
.value-item,
.value-image-container,
.value-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-item {
  gap: 4rem;
}

.value-image-container {
  position: relative;
}

.value-image {
  border-radius: 50%;
}

.value-image-number-wrapper {
  display: flex;
  position: absolute;
  bottom: -3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--amber-400);
  width: 6rem;
  height: 6rem;
}

.value-number,
.value-sub-header {
  font-weight: var(--txt-5-fw);
  font-size: var(--txt-5-fs);
  line-height: var(--txt-5-lh);
  letter-spacing: var(--txt-5-ls);
}

.value-text-container {
  gap: 1.5rem;
  text-align: center;
}

.value-main-text {
  width: 34ch;
  color: var(--slate-400);
  font-weight: var(--txt-10-fw);
  font-size: var(--txt-10-fs);
  line-height: var(--txt-10-lh);
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

/* FAQ Section */

.faq-section,
.faq-item-container,
.faq-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item-container {
  gap: 1rem;
}
.faq-header {
  margin-block-end: 3rem;
  color: var(--slate-600);
}

.faq-sub-header {
  margin-block-end: 2rem;
  color: var(--slate-600);
}

.faq-item {
  display: flex;
  flex-direction: column;

  background-color: var(--slate-50);
  padding: 1.1rem;
  width: 19.4375rem;
  height: auto;
}

.faq-question-dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.faq-question {
  color: var(--slate-600);
}

.faq-answer {
  opacity: 0;
  transition: opacity 0.2ms ease-in-out;
  padding-top: 0;
  height: 0;
  color: var(--slate-400);
  font-weight: var(--txt-10-fw);
  font-size: var(--txt-10-fs);
  line-height: var(--txt-10-lh);
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-10-ls);
}

.faq-answer.show-answer {
  opacity: 1;
  padding-top: 1.5rem;
  height: auto;
}

.faq-one {
  margin-block-end: 5.5rem;
}
.chevron {
  cursor: pointer;
}

/* Download Section */

.download-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(40px);
  opacity: 0;
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  background-color: var(--slate-600);
  height: 320px;
}

.download-title {
  margin-block-end: 40px;
  color: var(--neutral-0);
  font-weight: var(--txt-4-fw);
  font-size: clamp(var(--txt-4-fs), 5vw, 48px);
  letter-spacing: var(--txt-4-ls);
  text-align: center;
}

.store-link {
  cursor: pointer;
}

.download-circles {
  display: none;
  position: absolute;
  bottom: 0;
}

/* Main Footer */

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s;
  background-color: var(--slate-700);
  height: 438px;
}

.footer-title {
  color: var(--neutral-0);
  font-size: 40px;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-end: 48px;
}

.social-link-container {
  display: flex;
  gap: 24px;
}

.social-link {
  cursor: pointer;
}

.social-link:hover {
  animation: 1s jiggle;
}

@keyframes jiggle {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-link {
  transition: color 0.2s ease-in-out;
  color: var(--slate-400);
  font-weight: var(--txt-8-fw);
  font-size: var(--txt-8-fs);
  line-height: var(--txt-8-lh);
  text-align: center;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--neutral-0);
}

/* Fade in for sections */

.section-visible {
  opacity: 1;
}

/* || Media Queries */

/* Tablet */

@media screen and (min-width: 720px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
  }

  .menu-icon {
    display: none;
  }

  .logo-nav-wrapper {
    gap: 96px;
  }

  .header-logo {
    width: 107.8192px;
    height: 28.56px;
  }

  .header-nav {
    display: flex;
  }

  .header-btn {
    display: block;
  }

  .download-circles {
    display: block;
  }

  .main-footer {
    padding: 32px 0;
    height: auto;
  }

  .footer-content {
    gap: 128px;
  }

  .footer-content,
  .footer-nav {
    flex-direction: row;
  }

  .footer-nav,
  .social-link-container {
    align-items: center;
    margin-block-end: 0;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  header {
    padding: 48px 0;
    width: min(100%, 1440px);
  }

  .download-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 128px;
  }

  .download-title {
    text-align: left;
  }

  .download-circles {
    right: -160px;
    bottom: 0;
  }

  .footer-content {
    justify-content: space-around;
    gap: 384px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .section-visible {
    transform: none;
    opacity: none;
  }

  .social-link:hover {
    animation: none;
  }
}
